/* Footer */

#footer .icons {
    color: var(--footer-color);
}

#footer .copyright {
    color: var(--footer-color);
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.5em;
    font-weight: 400;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

body.single #footer {
    text-align: center;
}